{
  "presets": [
    "react",
    "env",
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "transform-es2015-modules-commonjs",
    "transform-class-properties",
    [
      "module-resolver",
      {
        "alias": {
          "@common": "./src/common",
          "@features": "./src/features"
        }
      }
    ]
  ]
}