/*****************************************************************/
/***************************COLORS********************************/
/*****************************************************************/
/*****************************************************************/
/***************************TYPOGRAPHY****************************/
/*****************************************************************/
/*****************************************************************/
/******************************LAYOUT*****************************/
/*****************************************************************/
/*****************************************************************/
/******************************Buttons*****************************/
/*****************************************************************/
/*****************************************************************/
/******************************Alerts*****************************/
/*****************************************************************/
/*****************************************************************/
/******************************Modal*****************************/
/*****************************************************************/
/*****************************************************************/
/******************************Progress*****************************/
/*****************************************************************/
/*****************************************************************/
/*******************************Code******************************/
/*****************************************************************/
/*****************************************************************/
/******************************Navbar*****************************/
/*****************************************************************/
/*****************************************************************/
/*******************************Forms*****************************/
/*****************************************************************/
/*****************************************************************/
/**********************DEPRECATED COLORS**************************/
/*****************************************************************/
/* PRIMARY */
/* NOTIFICATIONS */
/* GREY */
/* SECONDARY */
.sidebar_sidebar__2qzbM {
  flex: 1 100%;
  background-color: #F5F5F5; }
  @media (min-width: 768px) {
    .sidebar_sidebar__2qzbM {
      flex: 0 30rem;
      width: 30rem;
      height: 100%;
      min-height: calc(100vh - 8.125rem);
      overflow-y: auto; } }

.sidebar_sidebar__list__3nrvP {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.sidebar_sidebar__link__3adhG {
  display: flex;
  background-color: #EAEAEA;
  color: inherit;
  padding: 2.5rem; }
/*****************************************************************/
/***************************COLORS********************************/
/*****************************************************************/
/*****************************************************************/
/***************************TYPOGRAPHY****************************/
/*****************************************************************/
/*****************************************************************/
/******************************LAYOUT*****************************/
/*****************************************************************/
/*****************************************************************/
/******************************Buttons*****************************/
/*****************************************************************/
/*****************************************************************/
/******************************Alerts*****************************/
/*****************************************************************/
/*****************************************************************/
/******************************Modal*****************************/
/*****************************************************************/
/*****************************************************************/
/******************************Progress*****************************/
/*****************************************************************/
/*****************************************************************/
/*******************************Code******************************/
/*****************************************************************/
/*****************************************************************/
/******************************Navbar*****************************/
/*****************************************************************/
/*****************************************************************/
/*******************************Forms*****************************/
/*****************************************************************/
/*****************************************************************/
/**********************DEPRECATED COLORS**************************/
/*****************************************************************/
/* PRIMARY */
/* NOTIFICATIONS */
/* GREY */
/* SECONDARY */
.header_header__m5Zl5 {
  display: flex;
  align-items: center;
  background-color: #F5F5F5;
  border-bottom: 1px solid #EAEAEA;
  height: 8.125rem; }

.header_logo-wrapper__3w3P5 {
  display: flex;
  justify-content: center;
  width: 30rem; }

.header_right-wrapper__2YVIz {
  display: flex;
  align-items: center;
  margin-left: auto;
  height: 100%; }

.header_profile-img__3NMyU {
  width: 4.6875rem;
  height: 4.6875rem; }

.header_profile-link__1zlOt {
  padding: 0 3.25rem; }

.header_connected-button__3ud4z {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: #D5ECFF;
  padding: 0 1.625rem; }

.header_connected-button-inner__2NMCV {
  display: flex;
  align-items: baseline; }
/*****************************************************************/
/***************************COLORS********************************/
/*****************************************************************/
/*****************************************************************/
/***************************TYPOGRAPHY****************************/
/*****************************************************************/
/*****************************************************************/
/******************************LAYOUT*****************************/
/*****************************************************************/
/*****************************************************************/
/******************************Buttons*****************************/
/*****************************************************************/
/*****************************************************************/
/******************************Alerts*****************************/
/*****************************************************************/
/*****************************************************************/
/******************************Modal*****************************/
/*****************************************************************/
/*****************************************************************/
/******************************Progress*****************************/
/*****************************************************************/
/*****************************************************************/
/*******************************Code******************************/
/*****************************************************************/
/*****************************************************************/
/******************************Navbar*****************************/
/*****************************************************************/
/*****************************************************************/
/*******************************Forms*****************************/
/*****************************************************************/
/*****************************************************************/
/**********************DEPRECATED COLORS**************************/
/*****************************************************************/
/* PRIMARY */
/* NOTIFICATIONS */
/* GREY */
/* SECONDARY */
.modal_overlay__1BTBy {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 100;
  overflow-y: auto; }
  @media (min-width: 992px) {
    .modal_overlay__1BTBy {
      align-items: center; } }

.modal_modal__2jM_x {
  position: relative;
  flex: 1;
  margin: 6.25rem 0; }
  @media (min-width: 992px) {
    .modal_modal__2jM_x {
      margin: 2.5rem 0; } }

.modal_modal-content__1bUM- {
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 2px 2px 32px rgba(0, 0, 0, 0.8);
  width: 90vw;
  min-height: 90vh; }
  @media (min-width: 992px) {
    .modal_modal-content__1bUM- {
      max-width: 53.125rem;
      min-height: 50vh; } }

.modal_modal__close__1Bvml {
  position: absolute;
  bottom: 100%;
  right: 0;
  margin-bottom: 0.75rem;
  transition: transform .35s ease-out; }
  @media (min-width: 992px) {
    .modal_modal__close__1Bvml {
      margin-left: 1.5rem;
      left: 100%; } }
  .modal_modal__close__1Bvml:hover, .modal_modal__close__1Bvml:focus {
    transform: scale(1.15) rotate(15deg); }
/*****************************************************************/
/***************************COLORS********************************/
/*****************************************************************/
/*****************************************************************/
/***************************TYPOGRAPHY****************************/
/*****************************************************************/
/*****************************************************************/
/******************************LAYOUT*****************************/
/*****************************************************************/
/*****************************************************************/
/******************************Buttons*****************************/
/*****************************************************************/
/*****************************************************************/
/******************************Alerts*****************************/
/*****************************************************************/
/*****************************************************************/
/******************************Modal*****************************/
/*****************************************************************/
/*****************************************************************/
/******************************Progress*****************************/
/*****************************************************************/
/*****************************************************************/
/*******************************Code******************************/
/*****************************************************************/
/*****************************************************************/
/******************************Navbar*****************************/
/*****************************************************************/
/*****************************************************************/
/*******************************Forms*****************************/
/*****************************************************************/
/*****************************************************************/
/**********************DEPRECATED COLORS**************************/
/*****************************************************************/
/* PRIMARY */
/* NOTIFICATIONS */
/* GREY */
/* SECONDARY */
.activityModal_header__2hNsD {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 19.6875rem;
  background-color: blue; }

.activityModal_selfie-wrapper__hIxj6 {
  text-align: center;
  padding: 5rem 0 3.125rem; }

.activityModal_selfie__3xYr3 {
  width: 16.25rem;
  height: 16.25rem;
  border-radius: 50%; }

.activityModal_content__jAik_ {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 2.5rem; }

.activityModal_attributes__eByiu {
  width: 100%;
  margin: 2.5rem 0 1.875rem;
  padding-top: 1.875rem;
  text-align: left;
  border-top: 4px solid #EAEAEA; }

.activityModal_attributes__item__2ePAz {
  margin-bottom: 3.75rem; }

.activityModal_attributes__key__TmmWK {
  color: #67717E;
  font-size: 1.375rem;
  font-weight: normal; }

.activityModal_attributes__value__3nWoS {
  color: inherit;
  text-transform: uppercase;
  font-weight: bolder; }
/*****************************************************************/
/***************************COLORS********************************/
/*****************************************************************/
/*****************************************************************/
/***************************TYPOGRAPHY****************************/
/*****************************************************************/
/*****************************************************************/
/******************************LAYOUT*****************************/
/*****************************************************************/
/*****************************************************************/
/******************************Buttons*****************************/
/*****************************************************************/
/*****************************************************************/
/******************************Alerts*****************************/
/*****************************************************************/
/*****************************************************************/
/******************************Modal*****************************/
/*****************************************************************/
/*****************************************************************/
/******************************Progress*****************************/
/*****************************************************************/
/*****************************************************************/
/*******************************Code******************************/
/*****************************************************************/
/*****************************************************************/
/******************************Navbar*****************************/
/*****************************************************************/
/*****************************************************************/
/*******************************Forms*****************************/
/*****************************************************************/
/*****************************************************************/
/**********************DEPRECATED COLORS**************************/
/*****************************************************************/
/* PRIMARY */
/* NOTIFICATIONS */
/* GREY */
/* SECONDARY */
.activity_activity-list__Sm_Qr {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.activity_activity-item__2k4a_ {
  border: 1px solid #EAEAEA; }

.activity_activity__link__3YE9o {
  display: block;
  transition: box-shadow .1s ease-out; }
  .activity_activity__link__3YE9o:hover, .activity_activity__link__3YE9o:focus {
    text-decoration: none;
    box-shadow: 1px 1px 32px rgba(0, 0, 0, 0.15); }

.activity_activity__header__PyIm0 {
  padding: 1.875rem 2.5rem;
  border-bottom: 1px solid #EAEAEA;
  background-color: #F5F5F5;
  color: #67717E; }

.activity_activity__content__5eWVK {
  display: flex;
  align-items: center;
  padding: 1.875rem 2.5rem;
  color: #333B40; }

.activity_activity__date__3KyxI {
  margin-left: auto;
  text-align: right;
  font-size: 1.25rem;
  color: #09D2B0;
  line-height: 1.5; }
/*****************************************************************/
/***************************COLORS********************************/
/*****************************************************************/
/*****************************************************************/
/***************************TYPOGRAPHY****************************/
/*****************************************************************/
/*****************************************************************/
/******************************LAYOUT*****************************/
/*****************************************************************/
/*****************************************************************/
/******************************Buttons*****************************/
/*****************************************************************/
/*****************************************************************/
/******************************Alerts*****************************/
/*****************************************************************/
/*****************************************************************/
/******************************Modal*****************************/
/*****************************************************************/
/*****************************************************************/
/******************************Progress*****************************/
/*****************************************************************/
/*****************************************************************/
/*******************************Code******************************/
/*****************************************************************/
/*****************************************************************/
/******************************Navbar*****************************/
/*****************************************************************/
/*****************************************************************/
/*******************************Forms*****************************/
/*****************************************************************/
/*****************************************************************/
/**********************DEPRECATED COLORS**************************/
/*****************************************************************/
/* PRIMARY */
/* NOTIFICATIONS */
/* GREY */
/* SECONDARY */
.layout_wrapper__1i3EI {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  overflow: auto; }
  @media (min-width: 768px) {
    .layout_wrapper__1i3EI {
      overflow: hidden;
      flex-wrap: nowrap;
      height: 100%; } }

.layout_content__1NP3F {
  flex: 1;
  overflow: hidden;
  padding: 0 3.75rem 7.5rem;
  margin-bottom: 6.25rem; }
  @media (min-width: 768px) {
    .layout_content__1NP3F {
      overflow: auto; } }

/*# sourceMappingURL=main.987c2a15.css.map*/