.icon-Unverified {
	background: url("./svg/sprite.css-8f471531.svg") 47.40157480314961% 75.80645161290323% no-repeat;
	width: 27px;
	height: 27px;
}

.icon-action-back-dark {
	background: url("./svg/sprite.css-8f471531.svg") 83.80062305295951% 91.83673469387755% no-repeat;
	width: 20px;
	height: 20px;
}

.icon-activity {
	background: url("./svg/sprite.css-8f471531.svg") 51.09375% 81.40589569160997% no-repeat;
	width: 22px;
	height: 20px;
}

.icon-activity-cross {
	background: url("./svg/sprite.css-8f471531.svg") 68.97081413210445% 79.60088691796008% no-repeat;
	width: 11px;
	height: 10px;
}

.icon-activity-tick {
	background: url("./svg/sprite.css-8f471531.svg") 81.79012345679013% 72.9490022172949% no-repeat;
	width: 14px;
	height: 10px;
}

.icon-add-friend {
	background: url("./svg/sprite.css-8f471531.svg") 70.9375% 92.25512528473804% no-repeat;
	width: 22px;
	height: 22px;
}

.icon-alert {
	background: url("./svg/sprite.css-8f471531.svg") 89.75155279503106% 91.42212189616252% no-repeat;
	width: 18px;
	height: 18px;
}

.icon-alert-danger {
	background: url("./svg/sprite.css-8f471531.svg") 46.64484451718494% 98.78048780487805% no-repeat;
	width: 51px;
	height: 51px;
}

.icon-alert-info {
	background: url("./svg/sprite.css-8f471531.svg") 21.60392798690671% 98.78048780487805% no-repeat;
	width: 51px;
	height: 51px;
}

.icon-alert-success {
	background: url("./svg/sprite.css-8f471531.svg") 29.95090016366612% 98.78048780487805% no-repeat;
	width: 51px;
	height: 51px;
}

.icon-alert-warning {
	background: url("./svg/sprite.css-8f471531.svg") 38.297872340425535% 98.78048780487805% no-repeat;
	width: 51px;
	height: 51px;
}

.icon-applications {
	background: url("./svg/sprite.css-8f471531.svg") 54.53125% 81.40589569160997% no-repeat;
	width: 22px;
	height: 20px;
}

.icon-billing {
	background: url("./svg/sprite.css-8f471531.svg") 73.4375% 73.93258426966293% no-repeat;
	width: 22px;
	height: 16px;
}

.icon-breadcrumb-separator {
	background: url("./svg/sprite.css-8f471531.svg") 70.1219512195122% 79.24944812362031% no-repeat;
	width: 6px;
	height: 8px;
}

.icon-color {
	background: url("./svg/sprite.css-8f471531.svg") 51.41065830721003% 75.45871559633028% no-repeat;
	width: 24px;
	height: 25px;
}

.icon-connect-off {
	background: url("./svg/sprite.css-8f471531.svg") 58.93416927899686% 74.26636568848758% no-repeat;
	width: 24px;
	height: 18px;
}

.icon-connect-on {
	background: url("./svg/sprite.css-8f471531.svg") 62.69592476489028% 74.26636568848758% no-repeat;
	width: 24px;
	height: 18px;
}

.icon-connections {
	background: url("./svg/sprite.css-8f471531.svg") 74.375% 92.04545454545455% no-repeat;
	width: 22px;
	height: 21px;
}

.icon-dashboard {
	background: url("./svg/sprite.css-8f471531.svg") 61.21495327102804% 81.03837471783295% no-repeat;
	width: 20px;
	height: 18px;
}

.icon-dismiss-dark {
	background: url("./svg/sprite.css-8f471531.svg") 94.89164086687306% 91.01123595505618% no-repeat;
	width: 16px;
	height: 16px;
}

.icon-dismiss-light {
	background: url("./svg/sprite.css-8f471531.svg") 55.03875968992248% 96.17117117117117% no-repeat;
	width: 17px;
	height: 17px;
}

.icon-download {
	background: url("./svg/sprite.css-8f471531.svg") 86.91588785046729% 91.6289592760181% no-repeat;
	width: 20px;
	height: 19px;
}

.icon-edit {
	background: url("./svg/sprite.css-8f471531.svg") 55.332302936630605% 92.25512528473804% no-repeat;
	width: 15px;
	height: 22px;
}

.icon-illustration {
	background: url("./svg/sprite.css-8f471531.svg") 0 0 no-repeat;
	width: 662px;
	height: 329px;
}

.icon-info {
	background: url("./svg/sprite.css-8f471531.svg") 64.1304347826087% 81.03837471783295% no-repeat;
	width: 18px;
	height: 18px;
}

.icon-lock-sml {
	background: url("./svg/sprite.css-8f471531.svg") 22% 85.45454545454545% no-repeat;
	width: 62px;
	height: 76px;
}

.icon-logo {
	background: url("./svg/sprite.css-8f471531.svg") 32.65993265993266% 76.33410672853829% no-repeat;
	width: 68px;
	height: 30px;
}

.icon-logo-circle {
	background: url("./svg/sprite.css-8f471531.svg") 37.56019261637239% 85.07109004739337% no-repeat;
	width: 39px;
	height: 39px;
}

.icon-menu {
	background: url("./svg/sprite.css-8f471531.svg") 76.6355140186916% 73.60178970917227% no-repeat;
	width: 20px;
	height: 14px;
}

.icon-menu-down-arrow {
	background: url("./svg/sprite.css-8f471531.svg") 85.53846153846153% 72.3076923076923% no-repeat;
	width: 12px;
	height: 6px;
}

.icon-menu-up-arrow {
	background: url("./svg/sprite.css-8f471531.svg") 83.6923076923077% 72.3076923076923% no-repeat;
	width: 12px;
	height: 6px;
}

.icon-messages {
	background: url("./svg/sprite.css-8f471531.svg") 47.65625% 81.96347031963471% no-repeat;
	width: 22px;
	height: 23px;
}

.icon-pages {
	background: url("./svg/sprite.css-8f471531.svg") 52.255054432348366% 97.26651480637813% no-repeat;
	width: 19px;
	height: 22px;
}

.icon-progress-tick {
	background: url("./svg/sprite.css-8f471531.svg") 66.92546583850931% 80.4932735426009% no-repeat;
	width: 18px;
	height: 15px;
}

.icon-read {
	background: url("./svg/sprite.css-8f471531.svg") 57.96875% 81.03837471783295% no-repeat;
	width: 22px;
	height: 18px;
}

.icon-receipt-confirmed {
	background: url("./svg/sprite.css-8f471531.svg") 42.0545746388443% 76.1574074074074% no-repeat;
	width: 39px;
	height: 29px;
}

.icon-release-account {
	background: url("./svg/sprite.css-8f471531.svg") 77.57009345794393% 91.83673469387755% no-repeat;
	width: 20px;
	height: 20px;
}

.icon-reload {
	background: url("./svg/sprite.css-8f471531.svg") 43.333333333333336% 84.27230046948357% no-repeat;
	width: 32px;
	height: 35px;
}

.icon-reports {
	background: url("./svg/sprite.css-8f471531.svg") 67.651632970451% 92.25512528473804% no-repeat;
	width: 19px;
	height: 22px;
}

.icon-sdk-documentation {
	background: url("./svg/sprite.css-8f471531.svg") 64.69673405909798% 92.25512528473804% no-repeat;
	width: 19px;
	height: 22px;
}

.icon-sdk-download {
	background: url("./svg/sprite.css-8f471531.svg") 92.40310077519379% 91.01123595505618% no-repeat;
	width: 17px;
	height: 16px;
}

.icon-search {
	background: url("./svg/sprite.css-8f471531.svg") 61.62246489859594% 92.25512528473804% no-repeat;
	width: 21px;
	height: 22px;
}

.icon-setting {
	background: url("./svg/sprite.css-8f471531.svg") 58.28125% 92.25512528473804% no-repeat;
	width: 22px;
	height: 22px;
}

.icon-settings {
	background: url("./svg/sprite.css-8f471531.svg") 52.5% 92.25512528473804% no-repeat;
	width: 22px;
	height: 22px;
}

.icon-sort {
	background: url("./svg/sprite.css-8f471531.svg") 79.5031055900621% 73.27394209354121% no-repeat;
	width: 18px;
	height: 12px;
}

.icon-support {
	background: url("./svg/sprite.css-8f471531.svg") 80.68535825545172% 91.83673469387755% no-repeat;
	width: 20px;
	height: 20px;
}

.icon-upload-logo {
	background: url("./svg/sprite.css-8f471531.svg") 70% 73.93258426966293% no-repeat;
	width: 22px;
	height: 16px;
}

.icon-user-selfie-ph-medium {
	background: url("./svg/sprite.css-8f471531.svg") 0 100% no-repeat;
	width: 132px;
	height: 132px;
}

.icon-user-selfie-ph-small {
	background: url("./svg/sprite.css-8f471531.svg") 31.189710610932476% 85.27315914489311% no-repeat;
	width: 40px;
	height: 40px;
}

.icon-users {
	background: url("./svg/sprite.css-8f471531.svg") 66.4576802507837% 74.09909909909909% no-repeat;
	width: 24px;
	height: 17px;
}

.icon-verified {
	background: url("./svg/sprite.css-8f471531.svg") 55.172413793103445% 75.28604118993135% no-repeat;
	width: 24px;
	height: 24px;
}
