.wrapper {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  overflow: auto;
  @media (min-width: $screen-sm-min) {
    overflow: hidden;
    flex-wrap: nowrap;
    height: 100%;
  }
}

.content {
  flex: 1;
  overflow: hidden;
  padding: 0 Rem(60) Rem(120);
  @media (min-width: $screen-sm-min) {
    overflow: auto;
  }
}