.activity-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.activity-item {
  border: 1px solid $color-15;
}

.activity__link {
  display: block;
  transition: box-shadow .1s ease-out;
  &:hover,
  &:focus {
    text-decoration: none;
    box-shadow: 1px 1px 32px rgba(#000, .15);
  }
}

.activity__header {
  padding: Rem(30) Rem(40);
  border-bottom: 1px solid $color-15;
  background-color: $color-16;
  color: $color-3;
}

.activity__content {
  display: flex;
  align-items: center;
  padding: Rem(30) Rem(40);
  color: $color-2;
}

.activity__date {
  margin-left: auto;
  text-align: right;
  font-size: Rem(20);
  color: $color-5;
  line-height: 1.5;
}